* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: left;
}

section {
    position: relative;
}

section > div {
    background-color: gray;
    padding: 30px 10px 5px 10px;
    background-color: gray;
    margin: 10px;
    border: 1px solid red;
}

p {
    padding:  5px 20px;
}

h1 {
    margin: 25px auto 35px auto;
    width: 100%;
    text-align: center;
}

.title {
    position: absolute;
    top: 10px; right: 10px;
}

.red {
    background-color: red;
    color: white;
}

.rosybrown {
    background-color: rosybrown;
}

.yellow {
    background-color: yellow;
}

.border-solid-black {
    border: 1px solid black;
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 767px) {

}